body{
    background-color: antiquewhite;
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 80px;
    background-color: black;
    color: white;
    /* justify-content: center; */
    align-items: center;
}
.brand span img{
    height: 40px;
}
nav ul li{
    margin: 0px 10px;
}
.brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logoname{
    font-size: 10px;
}
.container{
    min-height: 70vh;
    /* background-color: black; */
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 6px;
    padding: 20px;
   
}
.container::before{
    background: url("bg.jpg")no-repeat center center/cover;
content: "";
position: absolute;
width: 70%;
height: 100%;
overflow: hidden;
z-index: -1;
border-radius: 6px;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    
}
.icons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icons i{
    margin: 0px 4px;
    cursor: pointer;
}
#myprogress{
width: 80vw;
cursor: pointer;
}
.songItem{
    height: 42px;
    display: flex;
    background-color: white;
    /* width: 120%; */
    color: black;
    margin: 12px 0px 12px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding: 5px;
}
.songItem img{
width: 50px;
border-radius: 50%;
margin: 0px 23px;
}
.timestamp{
    margin: 0px 23px;
}
.timestamp{
    cursor: pointer;
}
.songItemcontainer{
margin-top:74px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    top: 70px;
}
.songInfo img{
  opacity: 0;
  transition: opacity 2s ease-in;
}
.songItem:hover{
transform: scale(1.05);
background-color: rgb(30, 231, 231);
}
